body {
  padding-top: 10%; 
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f7f3f1;
    font-family: 'Poppins';
  }
  .logo-image{
    width: 200px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#1E2135;
    color: #f7f3f1;
    z-index: 3;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f7f3f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: #1E2135;
  }
  .btn-menu {
    background-color:#148fe9;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    margin-right: 16px;
  }
  .btn-menu:hover{
      background-color: #65B7D4;
  }
  i {
    display: inline-block;
    margin-right: 1em;
  }
  

  
.landing {
    background-image: url("../img/wallpaper-3.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f7f3f1;

}
.landing p, h1 {
    position: relative;
    top: 25%;

} 
.landing h1{
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.landing p{
    font-size: 25px;
    font-weight: bold;
}
  
  .wrapper{
    position: relative;
    top: 30%;
    transform: translateY(-50%);    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_box{
    width: 50%;
    position: relative;
  }
  
  .search_box input[type="text"]{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #f7f3f1;
    border-radius: 10px;
    font-size: 18px;
    color: #f7f3f1;
    outline: none;
  }
  
  .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #f7f3f1;
    font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
    color: #f7f3f1;
  }
  ::-moz-placeholder {
    color: #f7f3f1;
  }
  :-ms-input-placeholder {
    color: #f7f3f1;
  }
  .what-we-do{
      padding-top: 60px;
      padding-bottom: 60px;
      vertical-align: middle;
      letter-spacing: normal;
      font-weight: bold;

  }
  .our-services{
      margin: 10px;
  }
  
  .rent-icon,
  .buy-icon,
  .list-icon{
      width: 200px;
      height: 200px;
          
  }
  .rent-icon img,
  .buy-icon img,
  .list-icon img{
      width: 80px;
      padding-top: 30%;
      margin-left: 20px;
  }
  .rent-icon p,
  .buy-icon p,
  .list-icon p{
      color:#148fe9;
      padding-top: 20%;
      margin-left: 30px;
  }
  .customer-icon{
      width: 300px;
      height: 400px;
          
  }
  .c-name{
      font-weight: bold;
      color: #148fe9;
      padding-top: 10px;
  }
  .c-location p{
      font-weight: normal;
      font-style: italic;
  }
  .c-comments p{
      font-weight: lighter;
  }
  .c-img{
      width: 90px;
      padding-bottom: 10px;
      object-fit: contain;
  }
  .c-testimonials{
      margin: 5px;

  }
  p.looking-for{
    font-weight: bold; 
    font-size: 30px;
    color: #148fe9;
  }
  .footer{
    background-color: #1E2135;
    color:  #F7F3F1;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.mybtn{
  background-color: #148fe9;
  color: #F7F3F1;
  
}
fas fa-arrow-up

#mybtn:hover {
  background-color: #1E2135;
  color: #F7F3F1;
}
  @-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
 }
 .for-rent {
     color: #1E2135;
     display: inline-block;
     font-weight: bolder;
     padding-top: 5px;
 }
 .rent-price{
     font-weight: bolder;
     color:#148fe9;

 }
 .rent-price:hover{
     cursor: pointer;
 }
 .product-icon{
     color: #1E2135;
 }
 .info-header{
     font-weight: bold;
     padding-top: 10px;
     margin-left: 10px;
 }
 .info-body{
     font-weight: lighter;
     padding-top: 10px;
     margin-left: 10px;
     font-family: sans-serif;
 }
 .info-body span{
     color: #148fe9;
 }
 .hp-about,
 .hp-testimony,
 .hp-featured{
     padding: 20px;
     font-weight: bold;
 }
 h2{
  padding: 20px;
  margin-top: 20px;
  font-weight: bold;

 }
 h5{
   font-weight: bold;
 }
 .hp-about2{
     margin-left: 5px;
 }
 .hp-form{
     margin-left: 20px;
     margin-right: 20px;
 }
 .hp-form2{
     margin: 5px;
 }
 .property-button{
   margin-top: 10px;
   margin-bottom: 10px;
 }
 .property-p{
   font-size: 12px;
 }
 @-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  @-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  /* Pulse Grow */
  @-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  .hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  