body, html {
    height: 100%;
    margin: 0;
    background-color: #f7f3f1;
    font-family: 'Poppins';
  }
  .logo-image{
    width: 200px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#1E2135;
    color: #f7f3f1;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f7f3f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: #1E2135;
  }
  .btn-menu {
    background-color:#148fe9;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 16px;
  }
  .btn-menu:hover{
      background-color: #65B7D4;
  }
  i {
    display: inline-block;
    margin-right: 1em;
  }

  
.landing {
    background-image: url("../img/wallpaper-3.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f7f3f1;

}
.landing p, h1 {
    position: relative;
    top: 25%;

} 
.landing h1{
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.landing p{
    font-size: 25px;
    font-weight: bold;
}
  
  .wrapper{
    position: relative;
    top: 30%;
    transform: translateY(-50%);    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_box{
    width: 50%;
    position: relative;
  }
  
  .search_box input[type="text"]{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #f7f3f1;
    border-radius: 10px;
    font-size: 18px;
    color: #f7f3f1;
    outline: none;
  }
  
  .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #f7f3f1;
    font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
    color: #f7f3f1;
  }
  ::-moz-placeholder {
    color: #f7f3f1;
  }
  :-ms-input-placeholder {
    color: #f7f3f1;
  }
  .what-we-do{
      padding-top: 60px;
      padding-bottom: 60px;
      line: height 50px;
      vertical-align: middle;
      letter-spacing: normal;
      word-spacing: 0px;
      font-weight: bold;

  }
  
  .rent-icon,
  .buy-icon,
  .list-icon{
      width: 200px;
      height: 200px;
          
  }
  .rent-icon img,
  .buy-icon img,
  .list-icon img{
      width: 80px;
      padding-top: 30%;
      margin-left: 20px;
  }
  .rent-icon p,
  .buy-icon p,
  .list-icon p{
      color:#148fe9;
      padding-top: 20%;
      margin-left: 30px;
  }
  p.looking-for{
    font-weight: bold; 
    font-size: 30px;
    color: #148fe9;
  }