.header {
    overflow: hidden;
    color: rgb(56, 56, 247);
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header {
    background-color: #76757C;
    color:  #1E2135;
    box-shadow: 1px 2px 12px black;
    background-size: 100%;
  }
  .logo:hover{
      background: white;
      color: #1E2135;
  }
  
  .header a.active {
    color: white;
  }
  a.active:hover{
    color:  #1E2135;

  }
  #login{
    background: white;
    color:  #1E2135;

  }
  #login:hover{
      background:  #1E2135;
      color: white;
  }
  
  .header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
     
    }
  }